@{
    ViewData["Title"] = "Bienvenido";
}
<h2>Bienvenido al sitio de Reservas de Viajes</h2>

<div>
    <ul>
        <li>
            <a href="Reservas/RegistrarReserva">Registrar Reserva</a>
        </li>
        <li>
            <a href="Reservas/Listado">Listado de Reservas</a>
        </li>
    </ul>
</div>

